@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .underline-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s;
  }
  .underline-hover:hover::after {
    width: 100%;
  }
  .dark .underline-hover::after {
    background: white; /* Make underline visible in dark mode */
  }
}

html {
  transition: background-color 0.3s, color 0.3s;
}